.newsSourceList, .newsItemList {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.newsSource, .newsItem {
  min-width: 150px;
  max-width: 300px;
  margin: 8px;
  padding: 16px; 
  border: 3px solid #ADD8E6;
  border-radius: 15px;
  background-color: #F5F5DC;
  box-shadow: 1px 1px 3px #888;
  color: darkblue;
  cursor: pointer;
  user-select: none;
}

.newsSource:hover {
  border: 3px solid #90BFCE;
  box-shadow: 3px 3px 5px #888;
}

.newsSourceName {
  font-weight: bold;
  font-size: 1.3rem;
}

.newsSourceDesc {
  text-align: justify;
  text-indent: 10px;
  margin: 5px 0px;
}

.newsSourceCat, .newsSourceLang, .newsSourceCountry {
  margin: 0px 5px;
  font-style: italic;
}

.newsItemImg {
  min-width: 150px;
  max-width: 300px;
}

.newsItemTitle {
  font-weight: bold;
}

.backBtn {
  box-shadow: 3px 3px 3px #AAA;
  margin: 16px;
}